In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from hts import HTSRegressor
from hts.hierarchy import HierarchyTree

/home/mark/miniconda3/envs/aim/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Get Prices Table
Process prices table into suitable format

In [2]:
df1 = pd.read_csv('../data/aim_prices.csv', index_col=0)
mask = df1['Adj Close'].isnull()
df1[mask]

             Date  Open  High  Low  Close  Adj Close  Volume symbol
896    2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    PAF
1457   2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN   TM17
2368   2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    IOM
3279   2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN   YNGN
4112   2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    ESL
...           ...   ...   ...  ...    ...        ...     ...    ...
83564  2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    IQE
84475  2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    FDP
85386  2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    VCP
85656  2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN    UPR
86567  2020-07-20   NaN   NaN  NaN    NaN        NaN     NaN   IDEA

[97 rows x 8 columns]

In [3]:
to_drop = ['Open', 'High', 'Low', 'Close', 'Volume']
df2 = df1.drop(columns=to_drop)
df2.fillna(method='ffill', inplace=True)
df2[mask]

             Date    Adj Close symbol
896    2020-07-20    22.000000    PAF
1457   2020-07-20   628.000000   TM17
2368   2020-07-20   332.500000    IOM
3279   2020-07-20   667.500000   YNGN
4112   2020-07-20     7.850000    ESL
...           ...          ...    ...
83564  2020-07-20    47.419998    IQE
84475  2020-07-20  2600.000000    FDP
85386  2020-07-20   240.000000    VCP
85656  2020-07-20     1.775000    UPR
86567  2020-07-20   173.500000   IDEA

[97 rows x 3 columns]

In [4]:
df3 = df2.pivot_table(index='Date', values='Adj Close', columns='symbol', aggfunc='first')
df3

symbol,ABC,ABDP,AFM,AFX,AMS,APGN,APH,ASC,ASY,ATYM,...,TRMR,TUNE,UPR,VCP,WAND,WHR,WJG,YNGA,YNGN,YOU
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,747.474426,544.871216,NaN,NaN,217.710587,366.378662,42.915035,5081.0,359.247223,123.0,...,175.5,209.348175,NaN,360.0,195.5,NaN,104.183655,1283.661255,919.234985,237.588608
2017-01-04,735.387268,537.453857,NaN,NaN,216.236252,373.805267,44.329815,5038.0,359.247223,125.0,...,178.0,207.880783,NaN,369.0,196.5,NaN,104.183655,1283.180786,930.601013,240.037949
2017-01-05,740.222107,540.915039,NaN,NaN,214.270432,373.805267,44.565609,5124.0,355.094055,137.5,...,175.5,207.880783,NaN,367.5,175.0,NaN,103.631836,1283.180786,937.468140,233.424683
2017-01-06,741.189087,530.037415,NaN,NaN,211.813232,388.658447,44.683510,5256.0,355.094055,142.0,...,175.5,203.967728,NaN,367.5,175.0,NaN,103.300735,1273.568848,937.704895,244.936707
2017-01-09,746.991028,532.510193,NaN,NaN,211.321777,396.085022,45.037201,5315.0,355.094055,151.5,...,180.0,203.967728,NaN,360.0,175.0,NaN,102.859283,1287.505859,935.337097,244.936707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-03,1300.000000,1675.000000,190.0,830.0,194.399994,330.000000,71.300003,3465.0,606.299988,208.0,...,123.0,720.000000,2.055,270.0,538.0,110.5,137.199997,870.000000,692.500000,810.000000
2020-08-04,1259.000000,1675.000000,193.0,850.0,193.800003,330.000000,72.599998,3523.0,606.299988,209.0,...,121.0,710.000000,2.055,281.0,540.0,110.0,136.199997,910.000000,692.500000,815.000000
2020-08-05,1254.000000,1720.000000,194.0,880.0,198.399994,330.000000,69.099998,3899.0,606.299988,208.5,...,126.0,710.000000,2.055,283.0,600.0,110.0,139.399994,980.000000,692.500000,820.000000
2020-08-06,1270.000000,1710.000000,196.0,900.0,194.199997,330.000000,69.199997,4026.0,625.000000,208.0,...,124.0,710.000000,2.055,285.0,578.0,110.0,137.399994,980.000000,700.000000,840.000000
2020-08-07,1287.000000,1690.000000,196.0,888.0,198.000000,330.000000,71.900002,4308.0,NaN,192.5,...,128.0,710.000000,2.055,297.5,576.0,112.0,138.600006,998.000000,672.500000,850.000000

In [5]:
df3.isnull().sum()[df3.isnull().sum() > 0]

symbol
AFM     196
AFX      68
ASY       1
CDM     356
ESL      78
GRP     141
JSE     404
KETL    151
KGH     376
LGRS    586
PEBB    742
SUMO    247
TM17    350
UPR     641
WHR     181
dtype: int64

In [6]:
df4 = df3.dropna(axis=1)
df4

symbol,ABC,ABDP,AMS,APGN,APH,ASC,ATYM,BMK,BMN,BOO,...,TFW,TRCS,TRMR,TUNE,VCP,WAND,WJG,YNGA,YNGN,YOU
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,747.474426,544.871216,217.710587,366.378662,42.915035,5081.0,123.0,81.362900,1.925,1.370000,...,302.201447,502.611359,175.5,209.348175,360.0,195.5,104.183655,1283.661255,919.234985,237.588608
2017-01-04,735.387268,537.453857,216.236252,373.805267,44.329815,5038.0,125.0,81.362900,1.775,1.340000,...,300.312653,497.659546,178.0,207.880783,369.0,196.5,104.183655,1283.180786,930.601013,240.037949
2017-01-05,740.222107,540.915039,214.270432,373.805267,44.565609,5124.0,137.5,82.860397,1.825,1.385000,...,293.702026,497.659546,175.5,207.880783,367.5,175.0,103.631836,1283.180786,937.468140,233.424683
2017-01-06,741.189087,530.037415,211.813232,388.658447,44.683510,5256.0,142.0,82.860397,1.975,1.407500,...,271.036926,497.659546,175.5,203.967728,367.5,175.0,103.300735,1273.568848,937.704895,244.936707
2017-01-09,746.991028,532.510193,211.321777,396.085022,45.037201,5315.0,151.5,83.858704,2.025,1.435000,...,288.035797,505.087280,180.0,203.967728,360.0,175.0,102.859283,1287.505859,935.337097,244.936707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-03,1300.000000,1675.000000,194.399994,330.000000,71.300003,3465.0,208.0,41.000000,11.875,270.299988,...,297.000000,580.000000,123.0,720.000000,270.0,538.0,137.199997,870.000000,692.500000,810.000000
2020-08-04,1259.000000,1675.000000,193.800003,330.000000,72.599998,3523.0,209.0,40.500000,13.000,265.000000,...,290.000000,580.000000,121.0,710.000000,281.0,540.0,136.199997,910.000000,692.500000,815.000000
2020-08-05,1254.000000,1720.000000,198.399994,330.000000,69.099998,3899.0,208.5,41.000000,13.500,275.000000,...,295.000000,580.000000,126.0,710.000000,283.0,600.0,139.399994,980.000000,692.500000,820.000000
2020-08-06,1270.000000,1710.000000,194.199997,330.000000,69.199997,4026.0,208.0,41.000000,12.625,278.100006,...,290.000000,580.000000,124.0,710.000000,285.0,578.0,137.399994,980.000000,700.000000,840.000000
2020-08-07,1287.000000,1690.000000,198.000000,330.000000,71.900002,4308.0,192.5,41.000000,12.750,286.600006,...,291.000000,575.000000,128.0,710.000000,297.5,576.0,138.600006,998.000000,672.500000,850.000000

In [7]:
symbols = df4.columns
symbols

Index(['ABC', 'ABDP', 'AMS', 'APGN', 'APH', 'ASC', 'ATYM', 'BMK', 'BMN', 'BOO',
       'BREE', 'BRK', 'BUR', 'BVXP', 'CAM', 'CAML', 'CHRT', 'CLIN', 'CREO',
       'CRW', 'CTH', 'CVSG', 'CWR', 'DATA', 'DOTD', 'DTG', 'EMIS', 'FDEV',
       'FDP', 'FEVR', 'GAMA', 'GBG', 'GHH', 'GROW', 'GTLY', 'HCM', 'HGM',
       'HOTC', 'HUR', 'HZD', 'IDEA', 'IGR', 'IMO', 'IOM', 'IPX', 'IQE', 'ITM',
       'JHD', 'JSG', 'KAPE', 'KWS', 'LTG', 'MAB1', 'MIDW', 'MPE', 'MRL', 'MTW',
       'NFC', 'NICL', 'NUM', 'PAF', 'PMI', 'POLR', 'PRSM', 'PURP', 'RNWH',
       'RQIH', 'RST', 'RWS', 'SCPA', 'SIR', 'SLN', 'SMS', 'SQZ', 'TCM', 'TFW',
       'TRCS', 'TRMR', 'TUNE', 'VCP', 'WAND', 'WJG', 'YNGA', 'YNGN', 'YOU'],
      dtype='object', name='symbol')

# Get Groupings
Get groupings table

In [8]:
dfg = pd.read_csv('../data/aim_info.csv', index_col=0)
dfg

,address1,address2,city,zip,country,phone,fax,website,industry,sector,longBusinessSummary,fullTimeEmployees,companyOfficers,maxAge,symbol
0,The Firs Office Building,"2nd Floor, Office 204 Cnr Cradock and Biermann...",Johannesburg,2196,South Africa,27 11 243 2900,27 86 214 1090,http://www.panafricanresources.com,Gold,Basic Materials,Pan African Resources PLC engages in the explo...,2148.0,[],86400,PAF
1,3 Red Hall Avenue,Paragon Business Park,Wakefield,WF1 2UL,United Kingdom,44 19 2426 7776,NaN,http://www.team17.com,Electronic Gaming & Multimedia,Communication Services,"Team17 Group PLC, together with its subsidiari...",200.0,[],86400,TM17
2,West of Scotland Science Park,Kelvin Campus Lister Pavilion,Glasgow,G20 0SP,United Kingdom,44 14 1931 6400,NaN,http://www.iomart.com,Software—Infrastructure,Technology,iomart Group plc provides managed cloud servic...,405.0,[],86400,IOM
3,Riverside House,26 Osiers Road Wandsworth,London,SW18 1NH,United Kingdom,44 20 8875 7000,44 20 8875 7100,http://www.youngs.co.uk,Restaurants,Consumer Cyclical,"Young & Co.'s Brewery, P.L.C. operates and man...",5145.0,[],86400,YNGN
4,Stretton Green Distribution Park,Langford Way Appleton,Warrington,WA4 4TQ,United Kingdom,44 19 2560 5400,NaN,http://www.eddiestobart.com,Integrated Freight & Logistics,Industrials,Eddie Stobart Logistics plc provides logistics...,NaN,[],86400,ESL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Pascal Close,St. Mellons,Cardiff,CF3 0LW,United Kingdom,44 29 2083 9400,44 29 2079 4592,http://www.iqep.com,Semiconductor Equipment & Materials,Technology,"IQE plc develops, manufactures, and sells adva...",663.0,[],86400,IQE
93,3 Canal Quay,NaN,Newry,BT35 6BP,United Kingdom,44 28 3025 2242,44 28 3025 2060,http://www.firstderivatives.com,Information Technology Services,Technology,First Derivatives plc provides software and co...,2400.0,[],86400,FDP
94,Worcester Road,NaN,Kidderminster,DY10 1JR,United Kingdom,44 15 6274 9300,44 15 6274 9649,http://www.victoriaplc.com,"Furnishings, Fixtures & Appliances",Consumer Cyclical,"Victoria PLC designs, manufactures, and distri...",3400.0,[],86400,VCP
95,4045 Kingswood Road,Citywest Business Park,Dublin,D24 V06K,Ireland,353 1 428 7777,353 1 428 7776,http://www.uniphar.ie,Medical Care Facilities,Healthcare,Uniphar plc operates as a diversified healthca...,2200.0,[],86400,UPR
96,Ergo House,Mere Way Ruddington Fields Business Park,Ruddington,NG11 6JS,United Kingdom,44 1629 699100,NaN,http://www.ideagen.com,Software—Application,Technology,Ideagen plc develops and sells information man...,442.0,[],86400,IDEA

In [9]:
to_drop = dfg[dfg['sector'].isnull()].index
dfg2 = dfg.drop(to_drop)

In [10]:
to_drop = dfg2[~dfg2['symbol'].isin(symbols)].index
dfg3 = dfg2.drop(to_drop)
dfg3

,address1,address2,city,zip,country,phone,fax,website,industry,sector,longBusinessSummary,fullTimeEmployees,companyOfficers,maxAge,symbol
0,The Firs Office Building,"2nd Floor, Office 204 Cnr Cradock and Biermann...",Johannesburg,2196,South Africa,27 11 243 2900,27 86 214 1090,http://www.panafricanresources.com,Gold,Basic Materials,Pan African Resources PLC engages in the explo...,2148.0,[],86400,PAF
2,West of Scotland Science Park,Kelvin Campus Lister Pavilion,Glasgow,G20 0SP,United Kingdom,44 14 1931 6400,NaN,http://www.iomart.com,Software—Infrastructure,Technology,iomart Group plc provides managed cloud servic...,405.0,[],86400,IOM
3,Riverside House,26 Osiers Road Wandsworth,London,SW18 1NH,United Kingdom,44 20 8875 7000,44 20 8875 7100,http://www.youngs.co.uk,Restaurants,Consumer Cyclical,"Young & Co.'s Brewery, P.L.C. operates and man...",5145.0,[],86400,YNGN
5,Greater London House,Hampstead Road,London,NW1 7FB,United Kingdom,44 20 7756 1000,NaN,http://www.asosplc.com,Internet Retail,Consumer Cyclical,ASOS Plc operates as an online fashion retaile...,4000.0,[],86400,ASC
6,Vinces Road,NaN,Diss,IP22 4YT,United Kingdom,44 1379 649200,NaN,http://www.midwichgroupplc.com,Electronics & Computer Distribution,Technology,Midwich Group Plc distributes audio visual (AV...,1000.0,[],86400,MIDW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Middleton Drive,NaN,Bradford-on-Avon,BA15 1GB,United Kingdom,44 12 2586 0200,44 12 2586 0201,http://www.abdplc.com,Auto Parts,Consumer Cyclical,"AB Dynamics plc, through its subsidiaries, des...",264.0,[],86400,ABDP
92,Pascal Close,St. Mellons,Cardiff,CF3 0LW,United Kingdom,44 29 2083 9400,44 29 2079 4592,http://www.iqep.com,Semiconductor Equipment & Materials,Technology,"IQE plc develops, manufactures, and sells adva...",663.0,[],86400,IQE
93,3 Canal Quay,NaN,Newry,BT35 6BP,United Kingdom,44 28 3025 2242,44 28 3025 2060,http://www.firstderivatives.com,Information Technology Services,Technology,First Derivatives plc provides software and co...,2400.0,[],86400,FDP
94,Worcester Road,NaN,Kidderminster,DY10 1JR,United Kingdom,44 15 6274 9300,44 15 6274 9649,http://www.victoriaplc.com,"Furnishings, Fixtures & Appliances",Consumer Cyclical,"Victoria PLC designs, manufactures, and distri...",3400.0,[],86400,VCP
96,Ergo House,Mere Way Ruddington Fields Business Park,Ruddington,NG11 6JS,United Kingdom,44 1629 699100,NaN,http://www.ideagen.com,Software—Application,Technology,Ideagen plc develops and sells information man...,442.0,[],86400,IDEA

In [11]:
symbols2 = dfg3['symbol']
symbols2

0      PAF
2      IOM
3     YNGN
5      ASC
6     MIDW
      ...
91    ABDP
92     IQE
93     FDP
94     VCP
96    IDEA
Name: symbol, Length: 82, dtype: object

In [12]:
def get_groups(df, column_name):
    '''list symbols that belong to group'''
    df_tmp = df[[column_name, 'symbol']].groupby(column_name).agg(list)
    return {name: symbols[0] for name, symbols in df_tmp.iterrows()}

In [13]:
dict_sectors = get_groups(dfg3, 'sector')
dict_hierarchy = {'total': list(dict_sectors.keys())}
dict_hierarchy.update(dict_sectors)
dict_hierarchy

{'total': ['Basic Materials',
  'Communication Services',
  'Consumer Cyclical',
  'Consumer Defensive',
  'Energy',
  'Financial Services',
  'Healthcare',
  'Industrials',
  'Real Estate',
  'Technology'],
 'Basic Materials': ['PAF', 'HGM', 'ATYM', 'BMN', 'SCPA', 'CAML'],
 'Communication Services': ['KWS', 'TRMR', 'FDEV', 'GAMA', 'NFC', 'YOU'],
 'Consumer Cyclical': ['YNGN',
  'ASC',
  'CVSG',
  'IGR',
  'BOO',
  'TUNE',
  'APGN',
  'YNGA',
  'WJG',
  'ABDP',
  'VCP'],
 'Consumer Defensive': ['LTG', 'FEVR', 'HOTC', 'MPE', 'CAM', 'NICL'],
 'Energy': ['HUR', 'SQZ'],
 'Financial Services': ['IPX',
  'MAB1',
  'NUM',
  'BRK',
  'POLR',
  'RQIH',
  'PMI',
  'GROW',
  'MTW'],
 'Healthcare': ['ABC',
  'BVXP',
  'HCM',
  'CREO',
  'BMK',
  'SLN',
  'CTH',
  'HZD',
  'CRW',
  'AMS',
  'APH',
  'EMIS',
  'CLIN'],
 'Industrials': ['TFW',
  'DTG',
  'DATA',
  'JSG',
  'GTLY',
  'MRL',
  'JHD',
  'RWS',
  'RST',
  'CHRT',
  'RNWH',
  'SMS',
  'CWR'],
 'Real Estate': ['PURP'],
 'Technology': ['IOM',
  'MIDW',
  'GBG',
  'KAPE',
  'PRSM',
  'WAND',
  'TCM',
  'DOTD',
  'TRCS',
  'GHH',
  'ITM',
  'IMO',
  'IQE',
  'FDP',
  'IDEA']}

# Reconcile Tickers
Keep only symbols in both tables

In [14]:
to_drop = set(symbols) - set(symbols2)
to_drop

{'BREE', 'BUR', 'SIR'}

In [15]:
df5 = df4.drop(columns=to_drop)
df5['total'] = df5.sum(axis=1)
for sector, group in dict_hierarchy.items():
    if sector == 'total':
        continue
    df5[sector] = df5[group].sum(axis=1)
df5.index = pd.to_datetime(df5.index, format='%Y-%m-%d')
df5 = df5.resample('D').interpolate()
df5

symbol,ABC,ABDP,AMS,APGN,APH,ASC,ATYM,BMK,BMN,BOO,...,Basic Materials,Communication Services,Consumer Cyclical,Consumer Defensive,Energy,Financial Services,Healthcare,Industrials,Real Estate,Technology
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,747.474426,544.871216,217.710587,366.378662,42.915035,5081.000000,123.000000,81.362900,1.925000,1.370000,...,761.507632,1949.483078,10153.199986,13643.282246,64.120498,3879.133610,6075.901547,4324.632859,143.000000,5706.782598
2017-01-04,735.387268,537.453857,216.236252,373.805267,44.329815,5038.000000,125.000000,81.362900,1.775000,1.340000,...,766.584904,1945.147537,10125.196231,13620.701314,64.716552,3884.574871,6081.325405,4326.076797,140.250000,5766.634346
2017-01-05,740.222107,540.915039,214.270432,373.805267,44.565609,5124.000000,137.500000,82.860397,1.825000,1.385000,...,789.390330,1954.457672,10224.189138,13550.622109,67.594769,3898.844807,6108.201123,4363.271866,145.000000,5789.986723
2017-01-06,741.189087,530.037415,211.813232,388.658447,44.683510,5256.000000,142.000000,82.860397,1.975000,1.407500,...,787.972787,1971.875367,10365.445586,13474.522774,67.972984,3966.840354,6065.965843,4352.342012,152.750000,5828.336391
2017-01-07,743.123067,530.861674,211.649414,391.133972,44.801407,5275.666667,145.166667,83.193166,1.991667,1.416667,...,792.355581,1975.982015,10394.153488,13423.010422,68.052029,3982.942621,6091.928799,4347.543339,152.500000,5830.943375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-03,1300.000000,1675.000000,194.399994,330.000000,71.300003,3465.000000,208.000000,41.000000,11.875000,270.299988,...,790.774995,6849.000000,10096.999985,9676.509996,122.449998,4972.500000,10504.699997,6950.500000,51.000000,8734.300003
2020-08-04,1259.000000,1675.000000,193.800003,330.000000,72.599998,3523.000000,209.000000,40.500000,13.000000,265.000000,...,800.799997,6845.000000,10172.699997,9612.970003,125.085000,4970.400002,10511.400001,7034.900002,54.099998,8810.899994
2020-08-05,1254.000000,1720.000000,198.399994,330.000000,69.099998,3899.000000,208.500000,41.000000,13.500000,275.000000,...,812.699991,7055.000000,10692.899994,9597.179995,127.950003,4973.400002,10635.999992,7089.500000,54.799999,8969.150001
2020-08-06,1270.000000,1710.000000,194.199997,330.000000,69.199997,4026.000000,208.000000,41.000000,12.625000,278.100006,...,799.724998,7112.000000,10813.500000,9613.629994,124.080000,5003.900002,10748.899994,7134.500000,55.599998,9017.950001
2020-08-07,1287.000000,1690.000000,198.000000,330.000000,71.900002,4308.000000,192.500000,41.000000,12.750000,286.600006,...,821.950001,7319.500000,11126.200012,11843.600006,122.850000,5063.900002,10928.400002,7234.000000,60.500000,9285.400002

# (Optional) Review Hierarchy Tree
Look at hierarchy tree

In [16]:
ht = HierarchyTree.from_nodes(nodes=dict_hierarchy, df=df5)
print(ht)

- total
   |- Basic Materials
   |  |- PAF
   |  |- HGM
   |  |- ATYM
   |  |- BMN
   |  |- SCPA
   |  - CAML
   |- Communication Services
   |  |- KWS
   |  |- TRMR
   |  |- FDEV
   |  |- GAMA
   |  |- NFC
   |  - YOU
   |- Consumer Cyclical
   |  |- YNGN
   |  |- ASC
   |  |- CVSG
   |  |- IGR
   |  |- BOO
   |  |- TUNE
   |  |- APGN
   |  |- YNGA
   |  |- WJG
   |  |- ABDP
   |  - VCP
   |- Consumer Defensive
   |  |- LTG
   |  |- FEVR
   |  |- HOTC
   |  |- MPE
   |  |- CAM
   |  - NICL
   |- Energy
   |  |- HUR
   |  - SQZ
   |- Financial Services
   |  |- IPX
   |  |- MAB1
   |  |- NUM
   |  |- BRK
   |  |- POLR
   |  |- RQIH
   |  |- PMI
   |  |- GROW
   |  - MTW
   |- Healthcare
   |  |- ABC
   |  |- BVXP
   |  |- HCM
   |  |- CREO
   |  |- BMK
   |  |- SLN
   |  |- CTH
   |  |- HZD
   |  |- CRW
   |  |- AMS
   |  |- APH
   |  |- EMIS
   |  - CLIN
   |- Industrials
   |  |- TFW
   |  |- DTG
   |  |- DATA
   |  |- JSG
   |  |- GTLY
   |  |- MRL
   |  |- JHD
   |  |- RWS
   |  |- RST
   |  |- CHRT
   |  |- RNWH
   |  |- SMS
   |  - CWR
   |- Real Estate
   |  - PURP
   - Technology
      |- IOM
      |- MIDW
      |- GBG
      |- KAPE
      |- PRSM
      |- WAND
      |- TCM
      |- DOTD
      |- TRCS
      |- GHH
      |- ITM
      |- IMO
      |- IQE
      |- FDP
      - IDEA

# Try HTS Regressor
Try hierarchical forecast

In [17]:
%%time
clf = HTSRegressor(model='prophet', revision_method='OLS')
model = clf.fit(df=df5, nodes=dict_hierarchy)

Fitting models:   0%|          | 0/19 [00:00<?, ?it/s]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:   5%|▌         | 1/19 [00:05<01:36,  5.34s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  11%|█         | 2/19 [00:06<01:11,  4.20s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  16%|█▌        | 3/19 [00:07<00:47,  2.99s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  26%|██▋       | 5/19 [00:10<00:36,  2.58s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  32%|███▏      | 6/19 [00:11<00:27,  2.10s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  37%|███▋      | 7/19 [00:11<00:18,  1.51s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  42%|████▏     | 8/19 [00:11<00:12,  1.18s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  47%|████▋     | 9/19 [00:14<00:15,  1.52s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  53%|█████▎    | 10/19 [00:15<00:12,  1.40s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  58%|█████▊    | 11/19 [00:16<00:10,  1.33s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  63%|██████▎   | 12/19 [00:16<00:07,  1.04s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Fitting models:  68%|██████▊   | 13/19 [00:18<00:06,  1.15s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  74%|███████▎  | 14/19 [00:19<00:05,  1.15s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  79%|███████▉  | 15/19 [00:21<00:05,  1.43s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  84%|████████▍ | 16/19 [00:21<00:03,  1.07s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models:  89%|████████▉ | 17/19 [00:22<00:02,  1.07s/it]INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
Fitting models: 100%|██████████| 19/19 [00:23<00:00,  1.25s/it]

CPU times: user 406 ms, sys: 266 ms, total: 672 ms
Wall time: 24.1 s

In [18]:
preds = model.predict(steps_ahead=60)
preds

Fitting models: 100%|██████████| 19/19 [00:57<00:00,  3.03s/it]

,total,Basic Materials,Communication Services,Consumer Cyclical,Consumer Defensive,Energy,Financial Services,Healthcare,Industrials,Real Estate,...,WAND,TCM,DOTD,TRCS,GHH,ITM,IMO,IQE,FDP,IDEA
2017-01-03,10799.374583,-3923.384693,-2791.090343,-3582.336202,-3569.584786,26777.770251,-3791.505004,-2823.429120,4855.778211,4131.046166,...,-362.700655,-620.044893,-477.808772,-444.719482,-394.193051,-600.685058,-202.421770,348.864183,-631.989307,-512.719490
2017-01-04,10882.174454,-3944.156692,-2803.681224,-3604.617844,-3589.030435,26951.656298,-3813.537570,-2831.467666,4879.980777,4143.235527,...,-365.740194,-624.333586,-467.212006,-440.898911,-398.162111,-605.148304,-206.871601,351.191555,-636.730320,-515.430070
2017-01-05,10939.286143,-3958.416018,-2814.887382,-3619.476969,-3603.726132,27077.332548,-3828.064138,-2835.161421,4893.135504,4148.894260,...,-368.748602,-626.932896,-455.342926,-437.459248,-400.618598,-607.871824,-208.877047,353.136166,-640.230037,-516.214419
2017-01-06,11033.494468,-3980.028273,-2828.185102,-3646.098319,-3626.347800,27276.768698,-3851.400920,-2844.623671,4919.805076,4158.938347,...,-373.618350,-631.509826,-445.959146,-434.394070,-404.238463,-612.863027,-212.312240,359.234702,-645.435271,-518.938036
2017-01-07,11084.353148,-3990.995402,-2834.614805,-3657.522519,-3637.641500,27388.314538,-3862.302790,-2851.894143,4925.974135,4161.211685,...,-377.181455,-633.739937,-439.313033,-429.658462,-406.258831,-615.459224,-213.962579,363.272606,-647.959020,-520.197441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-02,14878.093209,-3998.714639,-2267.993982,-4479.427324,-4558.384535,34737.818985,-4604.582552,1884.746685,2278.774124,1152.255151,...,-228.043600,-676.274753,312.908855,-360.501532,-807.760068,-807.010320,-289.626487,168.053568,-557.397727,-623.101233
2020-10-03,14835.471694,-3987.387444,-2264.732117,-4469.463332,-4547.569587,34660.494418,-4593.647031,1892.563437,2270.772611,1130.952619,...,-226.235781,-672.947882,308.671471,-361.453706,-805.340199,-804.111926,-287.520553,170.126000,-553.686080,-620.737133
2020-10-04,14803.258839,-3979.455428,-2264.079580,-4463.359989,-4539.289406,34603.409918,-4585.882066,1898.889655,2270.858987,1112.657783,...,-224.644079,-670.308802,305.048501,-363.518821,-803.321327,-801.717615,-286.347983,171.656849,-550.735292,-618.680005
2020-10-05,14773.676322,-3972.216030,-2263.999481,-4457.772168,-4531.250618,34550.291017,-4578.733928,1904.468261,2272.493038,1095.338895,...,-223.030902,-667.831436,301.600363,-365.952561,-801.418532,-799.466483,-285.489660,173.265364,-547.950476,-616.778181
2020-10-06,14754.148582,-3963.276743,-2265.307841,-4453.194971,-4522.908810,34503.472025,-4570.375641,1918.391569,2282.157326,1062.941725,...,-219.644029,-665.725228,299.409340,-368.373179,-800.191743,-797.773734,-284.481563,168.434722,-545.350721,-615.200776